.pacifico-regular {
  font-family: "Pacifico", cursive;
  src: url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
  src: local("Pacifico-Regular");
  font-weight: 400;
  font-style: normal;
}


body{
	max-width: 100%;
	min-width: 400px;
	height: 100%;
    font-size: 18px;
    color: #0E0D0D;
    background-image: url("images/back.jpg");
    background-repeat: repeat;
}
        
span{
    font-style: italic;
    font-weight: bold;
}

.header{
	padding-top:20px;
	padding-bottom:20px;
}

.container{
	padding: 5px 0;
    max-width: 100%;
	min-width: 15%;
    background: transparent;
    align-items:left;
    font-size: 14px;
}

.header_menu{
	display: flex;
	align-self: flex-start;
    justify-content:space-around;
    align-items: left;
}

#header_image{
	margin: 0px 10px;
	max-width:90%;
	height: auto;
}

.header_btn{
    display: flex;
	align-self:stretch;
    justify-content: space-around;
    align-items: center;
	font-weight: bold;
    width: 140px;
    height: 40px;
    padding: 0 10px;
    background: transparent;
    border-color: transparent;
    color: #211819;
    border-radius: 40px;
    text-decoration: none;
    overflow:hidden;
}

.header_btn span{
    text-transform: uppercase;
    font-family: monospace;
    font-weight: bold;
    font-size: 18px;
}

.header_btn::before {
    content: '';
    position:absolute;
    align-self: left;
    height: 40px;
    width: 40px;
    border-radius: 40px;
    background: #00d6be;
    z-index: -1;
    transition: .4s;
}

.header_btn:hover::before{
    width: 140px;
}

.menu__list{
	margin: 0px auto;
	padding: 10px 0px;
    display: flex;
    background: transparent;
    gap: 0 5px;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
}

.menu__item{
    text-transform: uppercase;
}

.link_menu{
	padding: 10px 0px;
	display:flex;
    justify-content:space-around;
    align-items: center;
    align-self: left;
    background: transparent;
}

.sale_list{
	margin: 5px 20px;
}

.gray_block {
	margin: 20px 2.5%;
	padding: 10px 10px;
	background-color: #fcfcfc;
	border-style: solid;
	border-width: 0.7px;
	border-color: #00d6be;
	border-radius: 10px;
	text-align: justify;
	box-shadow: 5px 5px 5px #777777;
    align-content: space-between;
}

.mint_block {
	margin: 20px 2.5%;
	padding: 20px 20px;
	background-color: #defaf7;
    border-style: solid;
	border-width: 0.7px;
	border-color: #00d6be;
	border-radius: 10px;
	text-align: justify;
	box-shadow: 5px 5px 5px #777777;
    align-content: stretch;
}

p{
	margin: 5px 5px;
}

.s_block:first-letter {
	font-size: 250%;
	font-style: italic;
	color: #1c8767;
}

.sale_banner{
	width: 150px;
	min-width: 25%;
	display:flex;
	float: right;
	align-self:justify;
	margin: 15px auto;
}

.register_banner{
	width: 150px;
	min-width: 25%;
	display:flex;
	float:left;
	align-self:justify;
	margin: 15px auto;
}

.catalogue_banner{
	width: 75%;
	min-width: 25%;
	display:flex;
	align-self:justify;
    text-align: center;
	margin: 15px auto;
}

.assort_banner{
	width: 50%;
	min-width: 25%;
	display:flex;
	align-self:justify;
    float: left;
	margin: 15px 5px;
}

.lesson_banner{
	width: 150px;
	min-width: 25%;
	display:flex;
	float:right;
	align-self:justify;
	margin: 15px auto;
}

.assort_block{
    text-align: center;
    font-size: 24px;
    font-style: italic;
    margin: 40px auto;
}

.mint_button{
    font-family: "Pacifico";
    font-size: 28px;
    width: 300px;
    height: 60px;
    background-color: #defaf7;
    border-color: #1c8767;
    color: #1c8767;
    border: 4px solid;
    cursor:pointer;
    position:relative;
	margin: 15px 15px;

    &::before {
        content: "";
        width: 20px;
        height: 4px;
        position: absolute;
        left:0;
        top: -4px;
        display: block;
        background:#defaf7;
        transition: 500ms ease-in-out;
    }

    &::after {
        content: "";
        width: 20px;
        height: 4px;
        position: absolute;
        right:0;
        bottom: -4px;
        display: block;
        background:#defaf7;
        transition: 500ms ease-in-out;
    }

    &:hover {
        color:#00d6be;
        &::before{
            left: calc(100% - 20px);
        }

        &::after{
            right: calc(100% - 20px);
        }
    }

    &:active{
        background: #d4d4d4;
        color:#fcfcfc;
    }
}

.v_block{
	display: flex;
	margin: 50px 10px;
	justify-content: space-between;
	align-self: stretch;
}

.video{
	max-width: 100%;
	display:flex;
}